node_modules/
dist/
.vscode/
.env
.next/
*.js
!next.config.js
!*.config.js
!postcss.config.cjs
!tailwind.config.cjs
!eslint.config.cjs

# Ignore warga-fe-dev folder
../warga-fe-dev/

# Also ignore any local helper folders accidentally created
warga-fe-dev/
**/node_modules/
